# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

coverage

#images
photo.jpg
test.png
test1.png

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
.env.development
.env.production
.env.test

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
/.changelog
.npm/
yarn.lock
package-lock.json
.eslintcache