{
  "extends": "stylelint-config-recommended",
  "rules": {
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-newline-after": "always-multi-line",
    "indentation": 2,
    "no-empty-source": null,
    "selector-nested-pattern": "^&",
    "value-list-comma-newline-after": "always"
  },
  "ignoreFiles": [
    "./dist/**",
    "./node_modules/**",
    "./src/assets/**",
    "**/*.html",
    "**/*.jsx",
    "**/*.tsx"
  ]
}