.notes-main-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .notes-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;

    & .title-input {
      border: none;
      color: #363636;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 10px;

      &:focus {
        outline: none;
      }
    }

    & .text-area {
      border: none;
      color: #363636;
      flex: 1 1 auto;
      font-size: 20px;
      resize: none;

      &:focus {
        outline: none;
      }
    }

    & .notes-image {
      & img {
        box-shadow: 5px 5px #363636;
        height: 150px;
      }
    }
  }
}
