/* Style Global */
* {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "segoe ui",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "apple color emoji",
    "segoe ui emoji",
    "segoe ui symbol";
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

main {
  width: 100%;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}

.pr-1 {
  padding-right: 3px;
}

.link {
  color: #363636;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.conf-center {
  display: flex;
  justify-content: center;
}

/* Style Buttons Globals */
.btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px;
  transition: color 3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: #e6e6e6;
  }
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: #5c62c5;
  border-radius: 2px;

  &:disabled {
    background-color: #9498d9;
  }

  &:hover {
    background-color: #383e9d;
  }
}

.btn-picture,
.btn-save,
.btn-del {
  font-size: 15px;
}

.btn-picture,
.btn-save {
  color: #fff;
  transition: color 3s ease;

  &:hover {
    color: #ccc;
  }
}

.btn-danger {
  background-color: #f00;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #c00;
  }
}

.pointer {
  cursor: pointer;
}

/* Style of the Authentication */
.auth-main {
  align-items: center;
  background-image: url("./images/journal-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;

  & .auth-container {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 3px #363636;
    margin: 0;
    padding: 20px;
    width: 250px;

    & .auth-title {
      color: #31368a;
      margin-bottom: 20px;
    }

    & form {
      & .alert-error {
        background-color: #eee;
        border-radius: 3px;
        color: #f00;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding: 5px;
      }

      & .auth-input {
        border-bottom: 1px solid #d8d8d8;
        border-radius: 2px;
        border: 1px solid #d8d8d8;
        color: #363636;
        font-size: 16px;
        height: 20px;
        margin-bottom: 10px;
        padding: 5px;
        width: 238px;
        transition: border-botton 0.3s ease;

        &:focus {
          border-bottom: 1px solid #5c62c5;
          outline: none;
        }
      }

      & .auth-btn {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

/* Journal */
.journal-main-content {
  display: flex;

  & .journal-sidebar {
    background-color: #363636;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 450px;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;

    & .navbar {
      display: flex;
      justify-content: space-between;
      max-height: 36px;
      overflow: hidden;

      & h3 {
        font-weight: lighter;

        & span {
          max-width: 200px;
          padding-left: 10px;
          text-transform: capitalize;
        }
      }

      & .logout-navbar {
        font-size: 12px;
        font-weight: bold;
        border-radius: 2px;
      }
    }

    & .new-entry {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
      width: 100%;
      transition: color 0.3s ease;

      &:hover {
        color: #ccc;
      }
    }

    & .journal-entries {
      flex: 1 1 auto;
      margin-top: 30px;
      overflow-y: scroll;
      padding-right: 1px;

      & .journal-entry {
        align-items: center;
        background-color: #fff;
        border-radius: 4px;
        color: #363636;
        display: flex;
        height: 49px;
        justify-content: space-between;
        margin-bottom: 10px;
        overflow: hidden;
        transition: background-color 0.3s ease;

        & .entry-picture {
          height: 49px;
          min-width: 49px;
          overflow: hidden;

          & img {
            object-fit: cover;
            padding-right: 49px;
          }
        }

        /* height: 62%; */
        & .entry-body {
          max-width: 300px;
          align-self: center;
          justify-items: center;
          height: 30px;
          display: flex;
          overflow: hidden;
          margin: 0 auto;

          & .entry-title {
            color: #363636;
            font-size: 13px;
            font-weight: bold;
            overflow: hidden;
            padding: 0 2px;
          }
        }

        & .entry-date-box {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 5px;

          & span {
            font-size: 12px;
          }
        }

        &:hover {
          background-color: #e6e6e6;
          border: none;
          outline: none;
        }
      }

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: #e6e6e6;
        border-radius: 50px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #7e7e7e;
        border-radius: 50px;
      }
    }
  }
}

/* Notes Navbar */
.notes-navbar {
  align-items: center;
  background-color: #5c62c5;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

/* NothingSelected */
.nothing {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-color: #5c62c5;

  & p {
    font-size: 28px;
    text-align: center;
  }
}
