.social-networks {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 100%;

  & .btn-google {
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 #00000025;
    cursor: pointer;
    height: 42px;
    width: 100%;
    transition: box-shadow 0.3s ease;

    & .google-icon-wrapper {
      background-color: #fff;
      border-radius: 2px;
      height: 40px;
      margin-left: 1px;
      margin-top: 1px;
      position: absolute;
      width: 40px;

      & .google-icon {
        height: 18px;
        margin-left: 11px;
        margin-top: 11px;
        position: absolute;
        width: 18px;
      }
    }

    & .btn-text {
      color: #fff;
      float: right;
      font-size: 14px;
      letter-spacing: 0.2px;
      margin: 11px 40px 0 0;
    }

    &:hover {
      box-shadow: 0 0 6px #4285f4;
    }

    &:active {
      background: #1669f2;
    }
  }
}
